@inherits UmbracoViewPage<IPublishedContent>
@{
	var PageTitle = !string.IsNullOrWhiteSpace(Model.GetPropertyValue<string>("pageTitle")) ? Model.GetPropertyValue<string>("pageTitle") : Model.Name;
	var FirstPara = Model.GetPropertyValue<string>("paragraph");
	var PageIcon = Model.GetPropertyValue("pageIcon");
	var Image = Umbraco.Media(PageIcon).Url;
	var CurrentPage = Model.Id;
	var Parent = Model.Parent.Children.Where("Visible");
}

<div class="c-section_wrapper o-wrap o-wrap--large u-clearfix">
	<div class="c-service__page-list">
		<ul class="c-services__list">
			@foreach(var item in Parent){
				var active = item.Id == CurrentPage ? "is-active" : "";
				<li class="c-services__li">
					<a href="@item.Url" class="c-services__link u-delta @active">@item.Name</a>
				</li>
			}
		</ul>
	</div>
	<div class="c-service__content u-clearfix">
		<h2 class="o-heading u-mega u-uppercase c-section c-service__title o-heading">@PageTitle</h2>
		@if(Image != null){
			<img src="@Image?width=150" class="c-section__pageIcon">
		}
		@if(!string.IsNullOrWhiteSpace(FirstPara))
		{
			<p class="c-section__first-para"><strong>@FirstPara</strong></p>
		}
		<div class="c-section__page-components">
			@Html.Partial("~/Views/Partials/Page/Components.cshtml")
		</div>
	</div>
</div>
