@inherits UmbracoViewPage<IPublishedContent>
@{
	var PageTitle = !string.IsNullOrWhiteSpace(Model.GetPropertyValue<string>("pageTitle")) ? Model.GetPropertyValue<string>("pageTitle") : Model.Name;
	var FirstPara = Model.GetPropertyValue<string>("paragraph");
	var PageIcon = Model.GetPropertyValue("pageIcon");
	var CurrentPage = Model.Id;
	var Parent = Model.Parent.Children.Where("Visible");

	var homePage = Model.Site();
    var settings = homePage.Descendants("globalSettings").FirstOrDefault();
    var contactNumber = string.Empty;

    if (settings != null)
    {
        contactNumber = settings.GetPropertyValue<string>("contactNumber");
    }
}

<div class="c-section_wrapper o-wrap o-wrap--large u-clearfix">
	<div class="c-service__page-list">
		<div class="o-wrap o-wrap--medium">
			<ul class="c-services__list">
				@foreach(var item in Parent){
					var active = item.Id == CurrentPage ? "is-active" : "";
					<li class="c-services__li">
						<a href="@item.Url" class="c-services__link u-delta @active">@item.Name</a>
					</li>
				}
			</ul>
			<div class="c-service__need-help">
				<h2 class="u-gamma c-nee-help__title">Need help with Direct Mail?</h2>
				<img src="/assets/img/steve.png" alt="Steve Logo" class="c-need-help__logo">
				@if(!string.IsNullOrWhiteSpace(contactNumber))
				{
					<a href="tel:@contactNumber.Replace(" ","")" class="c-need-help__link">Call us on <span>@contactNumber</span></a>
				}
			</div>
		</div>
	</div>
	<div class="c-service__content u-clearfix">
		<div class="o-wrap o-wrap--medium">
			<h2 class="o-heading u-mega u-uppercase c-section c-service__title o-heading">@PageTitle</h2>
			@if(!string.IsNullOrWhiteSpace(FirstPara))
			{
				<p class="c-section__first-para"><strong>@FirstPara</strong></p>
			}
		</div>
		<div class="c-section__page-components">
			@Html.Partial("~/Views/Partials/Page/Components.cshtml")
		</div>
	</div>
</div>
