@inherits UmbracoViewPage<IPublishedContent>
@{
	var homePage = Model.Site();
	var Settings = homePage.Descendants("globalSettings").FirstOrDefault();

    String ContactNumber = Settings.GetPropertyValue<string>("contactNumber");
	String Address = Settings.GetPropertyValue<string>("address");
	String EmailAddress = Settings.GetPropertyValue<string>("emailAddress");

    var list = Settings.GetPropertyValue<IEnumerable<IPublishedContent>>("socialIcons");
}

<div class="c-contact">
	<div class="o-wrap o-wrap--large u-clearfix">
		@if(ContactNumber != null)
		{
			<div class="c-contact__item single--item">
				<i class="c-contact__single-icon ico-phone"></i>
				<a href="tel:@Html.Raw(Html.Encode(ContactNumber).Replace(" ", ""))" class="c-contact__link"><span class="mediahawkNumber1849 mhMobile">@ContactNumber</span></a>
			</div>
		}
		@if(!string.IsNullOrWhiteSpace(EmailAddress))
		{
			<div class="c-contact__item single--item">
				<i class="c-contact__single-icon ico-envelop"></i>
				<a href="mailto:@EmailAddress" class="c-contact__link">@EmailAddress</a>
			</div>
		}
		@if(!string.IsNullOrWhiteSpace(Address))
		{
			<div class="c-contact__item u-clearfix">
				<i class="c-contact__single-icon ico-brand"></i>
				<p class="c-contact__address">@Html.Raw(Html.Encode(Address).Replace("\n", "<br />"))</p>
			</div>
		}
		@if(list != null)
		{
			var facebookHandle = "TheMailingPeople";
			var twitterHandle = "@TMailingP";
			var instaHandle = "@TMailingPeople";
			var googleHandle = "@TMailingP";
			var linkedInHandle = "the-mailing-people";


			<div class="c-contact__item">
				@foreach(var item in list)
				{
					var itemUrl = item.GetPropertyValue("socialPlatformLink");
					var type = item.GetPropertyValue<string>("socialPlatformName");
					var typeLower = type.ToLower().Replace("+","");
					<div class="c-contact__social-wrapper u-clearfix">
						<i class="c-contact__icon ico-@typeLower"></i>
						<a href="@itemUrl" class="c-contact__link c-contact__social" target="_blank">
							@if(typeLower == "facebook")
							{
								<span>@facebookHandle</span>
							}
							else if(typeLower == "twitter"){
								<span>@twitterHandle</span>
							}
							else if(typeLower == "instagram"){
								<span>@instaHandle</span>
							}
							else if(typeLower == "google"){
								<span>@googleHandle</span>
							}
							else if(typeLower == "linkedin"){
								<span>@linkedInHandle</span>
							}
							else{
								<span>@type</span>
							}
						</a>
					</div>
				}
			</div>
		}
	</div>
</div>
<div class="c-contact__map">
	<div id="map"></div>
</div>

<script type="text/javascript">
function initMap() {
    var markerIcon = "/assets/img/marker.png";
	var location = {lat: 50.843588, lng: -1.033552};
	var map = new google.maps.Map(document.getElementById('map'), {
	  zoom: 8,
	  center: location,
	  scrollwheel: false,
      disableDefaultUI: true,
	  styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
	});
	var marker = new google.maps.Marker({
	  position: location,
	  map: map,
      icon: markerIcon
	});
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnLu6XZV6jhyH-TeLBWzDrlHIgHW7EvCE&callback=initMap"
type="text/javascript"></script>
