@using TMP.Core.ExtensionMethods
@inherits UmbracoViewPage<IPublishedContent>
@{
	String List = Model.GetPropertyValue<string>("blogPicker");
	var ListOfBlogs = !string.IsNullOrWhiteSpace(List) ? List.Split(',').Select(mediaId => Umbraco.TypedMedia(mediaId)).ToList() : null;
}
<div class="c-card-list">
	<div class="o-section o-wrap o-wrap--large">
	    <h2 class="o-heading o-heading--inverted u-mega">Tips & Tricks</h2>
	    <div class="c-card-list js-carousel--featured js-carousel_many" data-loop="true" data-auto-play="true" data-speed="10000">
			@foreach (var item in ListOfBlogs)
	        {
				@item
	        }
	    </div>
	</div>
</div>

@helper RenderCard(string title, string label, int imageId, string modifierClass)
{
    var image = Umbraco.TypedMedia(imageId);
    var imageClass = image != null ? "has-image" : "no-image";
    var link = "#";

    <article class="c-thumbnail__card @imageClass @modifierClass">
        @if (!string.IsNullOrWhiteSpace(label))
        {
            <span class="c-thumbnail__card__label">@label</span>
        }
        @if (image != null)
        {
            var imageUrl = Url.GetCropUrl(image, cropAlias: "4:3", width: 360, quality: 85, htmlEncode: false, furtherOptions: "&format=jpeg").ToString();

            <a href="@link" class="c-thumbnail__card__image-wrap o-media o-aspect--4-3">
                <img class="c-thumbnail__card__image" src="@imageUrl" alt="@title"/>
            </a>
        }
        <h3 class="c-thumbnail__title u-delta">
            <a href="#">@title</a>
        </h3>
        <p><a href="@link">Read more ></a></p>
    </article>

}
