@inherits UmbracoViewPage<IPublishedContent>
@{
	String Text = Model.GetPropertyValue<string>("text");
	String SmallText = Model.GetPropertyValue<string>("smallText");
	String Number = Model.GetPropertyValue<string>("largeTextNumber");
	var Image = Model.GetPropertyValue("image");
	var ImageUrl = Image != null ? Umbraco.Media(Image) : "";

	String Link = Model.GetPropertyValue<string>("link");
	var decode = Json.Decode(Link);
}

<div class="c-block__last-week">
	<div class="o-wrap o-wrap--x-large">
		<div class="c-block__left c-block__padded has--link">
			<div class="c-block__content-left">
				<h2 class="o-heading c-block__headline u-mega u-uppercase c-section">Last Week We...</h2>
				@if(!string.IsNullOrWhiteSpace(Text))
				{
					<p class="c-block__p">@Text</p>
				}
			</div>
			@if(!string.IsNullOrWhiteSpace(Number))
			{
				<div class="c-block__content-right">
					<span class="c-section__total">@Number</span>
					@if(!string.IsNullOrWhiteSpace(SmallText))
					{
						<p class="c-block__p">@SmallText</p>
					}
				</div>
			}
			@if(Link != null)
			{
				<a href="@decode.url" class="c-block__read-more">Read more > </a>
			}
		</div>
		<div class="c-block__right" style="background-image: url(@ImageUrl.Url?width=1200);"></div>
	</div>
</div>
