@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<main class="o-page__inner" role="main">
	<div class="c-page__wrapper">
	    @Html.Partial("~/Views/Partials/Page/Headline.cshtml")
		@Html.Partial("~/Views/Partials/Page/Staff/PageContent.cshtml")
		@Html.Partial("~/Views/Partials/Page/Staff/Staff.cshtml")
		@Html.Partial("~/Views/Partials/Page/Newsletter.cshtml")
		@Html.Partial("~/Views/Partials/Page/Accreditations.cshtml")
	</div>
</main>
