@using System.Web.Mvc.Html
@using UmbracoStarterKit.Core.Data
@using UmbracoStarterKit.Core.Utility
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "MasterBlog.cshtml";

    var allBlogPosts = BlogRepository.AllBlogPosts(Umbraco).ToList();
    var filteredBlogPosts = BlogRepository.FilterSelection(allBlogPosts, Request.QueryString["author"], Request.QueryString["category"], Request.QueryString["year"], Request.QueryString["month"]).ToList();
    var paging = Paging.GetPages(filteredBlogPosts.Count);
    var selectedBlogPosts = filteredBlogPosts.Skip(paging.Skip).Take(paging.Take).ToList();
}

<main class="o-page__inner" role="main">
    @Html.Partial("~/Views/Partials/Page/Headline.cshtml")
    <section>
        @if (selectedBlogPosts.Any())
        {
            foreach (var post in selectedBlogPosts)
            {
                var articleModel = new ArticleViewModel
                {
                    Id = post.Id,
                    Name = post.HasValue("headline") ? post.GetPropertyValue<string>("headline") : post.Name,
                    Thumbnail = Umbraco.TypedMedia(post.GetPropertyValue<int>("coverImage")),
                    Excerpt = post.GetPropertyValue<string>("excerpt"),
                    Url = post.Url,
                    Category = GetMetaById(post.GetPropertyValue<int>("category")),
                    Author = GetMetaById(post.GetPropertyValue<int>("author")),
                    CreateDate = post.GetPropertyValue<DateTime>("releaseDate")
                };

                if (post.DocumentTypeAlias == UmbracoStarterKit.Core.Constants.InTheMedia)
                {
                    articleModel.Url = post.HasValue("source") ? post.GetPropertyValue<string>("source") : "#";
                    articleModel.LinkTarget = "_blank";
                    articleModel.ExtraClasses = "is-external";
                }

                @Html.Partial("~/Views/Partials/Cards/ArticleCard.cshtml", articleModel)
            }

            <nav>
                @PagingTemplate.RenderPaging(paging, Model.Id)
            </nav>
        }
        else
        {
            var homePage = Model.Site();
            var tagSettings = homePage.Descendant("tagSettings");
            var noResultsMessage = tagSettings.GetPropertyValue<IHtmlString>("noResultsMessage");

            @noResultsMessage
        }
    </section>
</main>

<aside class="o-page__aside">
    @Html.Partial("~/Views/Partials/Pods/TagPrevalues.cshtml", Model, new ViewDataDictionary { { "title", "Authors" }, { "docType", "author" } })
    @Html.Partial("~/Views/Partials/Pods/TagPrevalues.cshtml", Model, new ViewDataDictionary { { "title", "Categories" }, { "docType", "category" } })
    @Html.Partial("~/Views/Partials/Pods/DateArchive.cshtml", allBlogPosts)
</aside>

@functions
{

    public string GetMetaById(int id)
    {
        var metaLabel = Umbraco.TypedContent(id);

        if (metaLabel == null)
        {
            return "";
        }

        return metaLabel.Name;
    }

}
