@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Layout.cshtml";
	var Children = Model.Children().Where(x => x.IsVisible() && x.TemplateId > 0);

	var settings = Umbraco.TypedContent(1151);
}
<main class="o-page__inner" role="main">
	<div class="c-page__wrapper">
	    @Html.Partial("~/Views/Partials/Page/Headline.cshtml")
		<div class="c-service o-section js-transition-in">
			<div class="o-wrap o-wrap--large c-service-flex-container">
				@foreach(var item in Children)
				{
					if(item != null)
					{
						var image = Umbraco.TypedMedia(item.GetPropertyValue<int>("featuredImage"));
						if( image == null && settings != null ) {
							image = Umbraco.TypedMedia(settings.GetPropertyValue<int>("defaultFeaturedImage"));
						}
						var imageUrl = "";

						var hasImage = image != null;

						if( hasImage ) {
							imageUrl = Url.GetCropUrl(image, cropAlias: "4:3", width: 400, htmlEncode: false).ToString();
						}

						var pageTitle = item.GetPropertyValue<string>("pageTitle");
						var pageText = item.GetPropertyValue<string>("pageDescription");
						var pageTitleNull = !string.IsNullOrWhiteSpace(pageTitle) ? pageTitle: item.Name;
						var altText = !string.IsNullOrWhiteSpace(pageTitle) ? pageTitle : "Service Page Icon";
						
						<a class="c-services__item" href="@item.Url">
							@if(hasImage)
							{
								<div class="c-services__image-wrapper">
									<img src="@imageUrl" alt="@altText" class="c-services__image">
								</div>
							}
							@if(pageTitleNull != null)
							{
								<h2 class="c-services__title u-gamma c-services__page-link">@pageTitleNull</h2>
							}
							@if(pageText != null)
							{
								<p class="c-services__paragraph">@pageText</p>
							}
							@if(pageTitleNull != null)
							{
								<span class="c-services__read-more">Read More @pageTitleNull></span>
							}
							else{
								<span class="c-services__read-more">Read More></span>
							}
						</a>
					}
				}
			</div>
		</div>
		@Html.Partial("~/Views/Partials/Page/Newsletter.cshtml")
		@Html.Partial("~/Views/Partials/Page/Accreditations.cshtml")
	</div>
</main>
