@using TMP.Core.ExtensionMethods
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = null;

    var pageScope = "s-" + Model.DocumentTypeAlias.ConvertToId();
}

<!doctype html>
<html lang="en" class="no-enhance @pageScope">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

        @Html.Partial("~/Views/Partials/Components/SEO.cshtml")
        @RenderSection("OpenGraph", false)

        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/assets/css/style.bc1e376d.css">
        <!--<![endif]-->

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
            <link rel="stylesheet" href="/assets/css/ie.css">
        <![endif]-->

        <script src="/assets/js/head.js"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>

        @RenderSection("HeadScripts", false)
        @Html.Partial("~/Views/Partials/Components/Fonts.cshtml")
        @Html.Partial("~/Views/Partials/Components/Favicons.cshtml")

<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-KHWDFB');</script>
		<!-- End Google Tag Manager -->
	  	
	  	<script>
	  	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  	
	  	  ga('create', 'UA-35797788-4', 'themailingpeople.co.uk');
	  	  ga('send', 'pageview');
	  	</script>

    </head>
    <body class="o-page">
        <!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KHWDFB"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

        @Html.Partial("~/Views/Partials/Page/Header.cshtml")
        @RenderBody()
        @Html.Partial("~/Views/Partials/Page/Footer.cshtml")

        <!--[if lt IE 9]>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <![endif]-->

        <!--[if gte IE 9]><!-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
            <script src="/assets/js/main.e03ce716.js"></script>
        <!--<![endif]-->

        @Html.Partial("~/Views/Partials/Components/Analytics.cshtml")
        @RenderSection("Scripts", false)

        <!--[if (gte IE 6)&(lte IE 8)]>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
        <![endif]-->
		<script type='text/javascript'>
			var _mhct = _mhct || [];
			_mhct.push(['mhCampaignID','VA-12879']);
			!function(){var c=document.createElement('script');c.type='text/javascript',c.async=!0,c.src='//www.dynamicnumbers.mediahawk.co.uk/mhct.min.js';var i=document.getElementsByTagName('script')[0];i.parentNode.insertBefore(c,i)}();
		</script>
@*
     <script type="text/javascript">
		 var mhProtocol = ((document.location.protocol == "https:") ? "https://" : "http://");
		 var mhRand = new Date().getTime();
		 document.write(unescape("%3Cscript"
		 + " src='"+mhProtocol+"www.dynamicnumbers.mediahawk.co.uk/getVisitorParams.js?mhRand="+mhRand+"'"
		 + " type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		 var mhAccountRef = "VA-12879";
		 document.write(unescape("%3Cscript"
		 + " src='"+mhProtocol+"www.dynamicnumbers.mediahawk.co.uk/getVisitorNumber.php"
		 + "?mhAccountRef="+mhAccountRef+mhUrlParamString+"&mhRand="+mhRand+"'"
		 + "type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		 try {
		 mhChangeTelNumber();
		 }
		 catch (err){}
		</script>
*@
    </body>
</html>
