@using TMP.Core.Data
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "MasterBlog.cshtml";

    var allBlogPosts = BlogRepository.AllBlogPosts(Umbraco).ToList();
}

<main class="o-page__inner" role="main">
		<div class="c-page__wrapper">
	    @Html.Partial("~/Views/Partials/Page/Headline.cshtml")
		<div class="c-section_wrapper c-grid o-wrap o-wrap--large u-clearfix o-section">
			<aside class="c-grid__sidebar c-service__page-list">
			    @Html.Partial("~/Views/Partials/Pods/TagPrevalues.cshtml", Model, new ViewDataDictionary { { "title", "Authors" }, { "docType", "author" }, { "baseUrl", Model.Url } })
			    @Html.Partial("~/Views/Partials/Pods/TagPrevalues.cshtml", Model, new ViewDataDictionary { { "title", "Categories" }, { "docType", "category" }, { "baseUrl", Model.Url } })
			    @Html.Partial("~/Views/Partials/Pods/DateArchive.cshtml", allBlogPosts)
			</aside>
			<div class="c-grid__main-content c-blogs__blog-post">
	    		@Html.Partial("~/Views/Partials/Page/Components.cshtml")
			</div>
		</div>
	</div>
</main>
