@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Layout.cshtml";
}

<main class="o-page__inner" role="main">
	<div class="c-page__wrapper">
	    @Html.Partial("~/Views/Partials/Page/Headline.cshtml")
	    <div class="o-section">
			<div class="c-grid o-wrap o-wrap--x-large">
				<div class="c-grid__main-content">
					@Html.Partial("~/Views/Partials/Page/Components.cshtml")
				</div>
				<div class="c-grid__sidebar">
					<div class="o-page-component o-wrap o-wrap--large is-first">
						<h1 class="o-heading c-block__headline u-mega u-uppercase c-section">Tips & Advice</h1>
						@Html.Partial("~/Views/Partials/Page/Sidebar/Textpage.cshtml")
					</div>
				</div>
			</div>
	    </div>
		@Html.Partial("~/Views/Partials/Page/Newsletter.cshtml")
		@Html.Partial("~/Views/Partials/Page/Accreditations.cshtml")
	</div>
</main>
