@inherits UmbracoViewPage<IPublishedContent>
@{
    var homePage = Model.Site();
    var settings = homePage.Descendants("globalSettings").FirstOrDefault();
    var copyright = string.Empty;
    var address = string.Empty;
    var email = string.Empty;
    var number = string.Empty;

    if (settings != null)
    {
        copyright = settings.GetPropertyValue<string>("copyrightDisclaimer");
        address = settings.GetPropertyValue<string>("address");
        number = settings.GetPropertyValue<string>("contactNumber");
        email = settings.GetPropertyValue<string>("emailAddress");
    }
}

<footer id="footer" class="c-footer" role="contentinfo">
    <div class="c-footer__top-wrap">
        <div class="o-wrap o-wrap--x-large c-footer__top__inner o-section--small">
            <div class="c-footer__top__col c-footer__top__col--first">
                @if(!string.IsNullOrWhiteSpace(number))
                {
                    <h2 class="o-heading c-footer__headline u-mega u-uppercase">Contacts</h2>
                    <a href='tel:@number.Replace(" ","")' class="c-footer__link"><span class="mediahawkNumber1849 mhMobile">@number</span></a>
                    <a href='mailto:@email' class="c-footer__link margin-bottom">@email</a>
                }
                @if(!string.IsNullOrWhiteSpace(address))
                {
                    <h3 class="c-footer__title">Locations: </h3>
                    <p>@Html.Raw(address.Replace("\n","<br>"))</p>
                }
            </div>
            <div class="c-footer__top__col c-footer__top__col--last">
                <h2 class="o-heading c-footer__healine c-footer__headline u-mega u-uppercase">Connect with us</h2>
                <div class="u-space-bottom">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                </div>
                @Html.Partial("~/Views/Partials/Page/SocialLinks.cshtml", Model, new ViewDataDictionary { { "extraClass", "c-social--footer" } })
            </div>
        </div>
    </div>
    <div class="c-footer__bottom-wrap">
        <div class="o-wrap o-wrap--x-large c-footer__bottom__inner">
            <div class="c-footer__bottom_col">
                @if (!string.IsNullOrWhiteSpace(copyright))
                {
                    <p class="c-footer__copyright">
                        @Html.Raw(copyright.Replace("\n", "<br/>"))
                    </p>
                }
            </div>
            <div class="c-footer__bottom_col">
                @Html.Partial("~/Views/Partials/Page/FooterNavigation.cshtml")
            </div>
            <div class="u-clearfix c-footer__tgdh">
                <p>Made by <a href="http://tgdh.co.uk" rel="nofollow" target="_blank">TGDH</a></p>
            </div>
        </div>
    </div>
</footer>
