@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var homePage = Model.Site();
    var settings = homePage.Descendants("globalSettings").FirstOrDefault();

    if (settings == null)
    {
        return;
    }

    var facebook = settings.GetPropertyValue<string>("socialFacebookUrl");
	var twitter = settings.GetPropertyValue<string>("socialTwitterUrl");
	var linkedin = settings.GetPropertyValue<string>("socialLinkedinUrl");
	var google = settings.GetPropertyValue<string>("socialGoogleUrl");
	var instagram = settings.GetPropertyValue<string>("socialInstagramUrl");
    var extraClass = ViewData["extraClass"] ?? "";
}

<div class="c-social @extraClass u-clearfix">
	@if(!string.IsNullOrWhiteSpace(facebook))
	{
		<a href="@facebook" title="Go to our Facebook page (external link)" class="c-social__link c-social__link--facebook" target="_blank">
	        <i class="ico-facebook"></i> <span class="u-hide-text">Facebook</span>
	    </a>
	}
	@if(!string.IsNullOrWhiteSpace(twitter))
	{
		<a href="@twitter" title="Go to our Facebook page (external link)" class="c-social__link c-social__link--twitter" target="_blank">
	        <i class="ico-twitter"></i> <span class="u-hide-text">Twitter</span>
	    </a>
	}
	@if(!string.IsNullOrWhiteSpace(instagram))
	{
		<a href="@instagram" title="Go to our Facebook page (external link)" class="c-social__link c-social__link--instagram" target="_blank">
	        <i class="ico-instagram"></i> <span class="u-hide-text">Instagram</span>
	    </a>
	}
	@if(!string.IsNullOrWhiteSpace(linkedin))
	{
		<a href="@linkedin" title="Go to our Facebook page (external link)" class="c-social__link c-social__link--linkedin" target="_blank">
	        <i class="ico-linkedin"></i> <span class="u-hide-text">LinkedIn</span>
	    </a>
	}
	@if(!string.IsNullOrWhiteSpace(google))
	{
		<a href="@google" title="Go to our Facebook page (external link)" class="c-social__link c-social__link--google" target="_blank">
	        <i class="ico-google"></i> <span class="u-hide-text">GooglePlus</span>
	    </a>
	}
</div>
